In [22]:
import os
import pandas as pd

# Define the parent directory
parent_dir = "datasets"

# List all subdirectories in the parent directory
sub_dirs = [d for d in os.listdir(parent_dir) if os.path.isdir(os.path.join(parent_dir, d))]
sub_dirs

['Germany, Italy, France, Spain 2023-2024',
 'UK, US, Sweden, Denmark 2023-2024']

In [60]:
def load_datasets(in_file_name, out_file_name, drop_keys, int_fields = None, drop_duplicates = True):
    dataframes = []
    
    ## load csv files into dataframes
    for sub_dir in sub_dirs:
        csv_path = os.path.join(parent_dir, sub_dir, in_file_name)
        if os.path.exists(csv_path):
            dataframes.append(pd.read_csv(csv_path))

    ## merge dataframes
    merged_df = pd.DataFrame([])
    for df in dataframes:
        merged_df = pd.concat([merged_df, df])

    ## drop duplicate keys
    if drop_duplicates:
        merged_df = merged_df.drop_duplicates(subset=drop_keys, keep='first')

    ## convert to int specified fields
    for int_field in int_fields:
        merged_df[int_field] = merged_df[int_field].astype("Int64")
        
    ## create destination folder
    os.makedirs("merged_datasets", exist_ok=True)
    
    ## save merged_datasets dataframe to file
    merged_df.to_csv(f"./merged_datasets/{out_file_name}", encoding='utf-8', index=False, header=True)

    return merged_df

In [26]:
## Merge charting dataset: output.csv file

df_charting = load_datasets("output.csv", "df_charting_merged.csv", ['Country', 'Week', 'spotifyId'], [], True)
df_charting

,Country,Week,spotifyId,trackName,artistName,releaseDate,currentRank,peakRank,weeksOnChart,numStreams,entryDate
0,IT,2023-01-05,spotify:track:2tTmW7RDtMQtBk7m2rYeSw,"Quevedo: Bzrp Music Sessions, Vol. 52",Bizarrap,2022-07-06,1,1,24,2806930,2022-07-28
1,IT,2023-01-05,spotify:track:0D3QZNAMH2d5MFkVlebo6h,Non lo Sai,Shiva,2022-11-25,2,2,6,2521878,2022-12-01
2,IT,2023-01-05,spotify:track:36EFgeHW1tOUyMAhZ6cjfD,CHIAGNE (feat. Lazza & Takagi & Ketra),Geolier,2022-10-28,3,1,10,1903859,2022-11-03
3,IT,2023-01-05,spotify:track:1MboxS3hV7Wr8UVO59uRth,Alleluia (feat. Sfera Ebbasta),Shiva,2022-11-25,4,1,6,1839962,2022-12-01
4,IT,2023-01-05,spotify:track:1cc9BzqfV6aO0EV8c7jGnN,Take 4,Shiva,2022-11-25,5,1,9,1557947,2022-11-10
...,...,...,...,...,...,...,...,...,...,...,...
83195,DK,2024-12-26,spotify:track:3QaPy1KgI7nu9FJEQUgn6h,WILDFLOWER,Billie Eilish,2024-05-17,196,31,32,108244,2024-05-23
83196,DK,2024-12-26,spotify:track:1bWx4JyBjhyL6NyEedGydJ,Søren Banjomus (with Spilopperne),Otto Brandenburg,2006-08-21,197,174,2,107012,2020-12-24
83197,DK,2024-12-26,spotify:track:5fZJQrFKWQLb7FpJXZ1g7K,A Bar Song (Tipsy),Shaboozey,2024-05-31,198,7,36,106934,2024-04-25
83198,DK,2024-12-26,spotify:track:3Vr3zh0r7ALn8VLqCiRR10,Stargazing,Myles Smith,2024-05-10,199,18,33,106917,2024-05-16
83199,DK,2024-12-26,spotify:track:0aB0v4027ukVziUGwVGYpG,tv off (feat. lefty gunplay),Kendrick Lamar,2024-11-22,200,35,5,106476,2024-11-28

In [48]:
## Merge Contributions dataset: output_contributions.csv file

df_contributions = load_datasets("output_contributions.csv", "df_contributions_merged.csv", ["geniusId", "artistId"], ["geniusId", "artistId"], True)
df_contributions

       geniusId      type  artistId             name
0       8498335  producer    667980   Takagi & Ketra
1       8498335    writer   1453163          Geolier
2       8498335    writer    380028            Lazza
3       8498335    writer   1022585  Davide Petrella
4       8498335    writer    608753           Takagi
...         ...       ...       ...              ...
27358  10005805    writer   1409172   Jørgen Klubien
27359  10005805    writer   1997877              MAS
27360  10005805    writer   1409170    Jørn Pedersen
27362  10005805    writer    669746      Mads Møller
27363  10005805    writer    669747    Thor Nørgaard

[41383 rows x 4 columns]

In [50]:
## Merge Tracks dataset: output_tracks.csv file

df_tracks = load_datasets("output_tracks.csv", "df_tracks_merged.csv", ["geniusId"], ["geniusId"])
df_tracks

,spotifyId,trackName,artistName,releaseDate,geniusId,geniusTrackName,geniusArtistName,geniusReleaseDate,trackLanguage
0,spotify:track:36EFgeHW1tOUyMAhZ6cjfD,CHIAGNE (feat. Lazza & Takagi & Ketra),Geolier,2022-10-28,8498335,CHIAGNE,Geolier (Ft. Lazza & Takagi & Ketra),2022-10-28,pl
2,spotify:track:1EOTrGOcrCwTG1nhUnp0dV,MONEY,Geolier,2022-11-18,8557768,MONEY,Geolier,2022-11-18,en
4,spotify:track:65SQUmt3OT8puVhZDbaQYB,NESSUNO (Concertos),Lazza,2022-04-07,8616532,NESSUNO (Concertos),Lazza,2022-12-16,it
5,spotify:track:63udU8F2jbjyys9BpVgPdU,Rollie AP (feat. Pyrex & Slings),Shiva,2022-11-25,8581021,Rollie AP,Shiva (Ft. Pyrex (ITA) & Slings),2022-11-25,en
6,spotify:track:5KkcthkQDnlhQN0WhO8DsM,Bagno a mezzanotte,Elodie,2022-03-08,7762945,Bagno a mezzanotte,Elodie,2022-03-09,it
...,...,...,...,...,...,...,...,...,...
9564,NaN,NaN,NaN,NaN,2046341,Sleigh Ride,Christmas Songs,1948-01-01,NaN
9565,NaN,NaN,NaN,NaN,101491,White Christmas (1947 Re-Recording),Bing Crosby,1947-01-01,NaN
9572,NaN,NaN,NaN,NaN,6534466,EM Fvoc Bollywood E 120bpm 04,EarthMoments,2010-01-01,NaN
9573,NaN,NaN,NaN,NaN,10020206,Club hit/La-La-La,Purple & ogkidy,NaN,NaN
9574,NaN,NaN,NaN,NaN,4605507,Himmel Og Jord,Danseorkestret,1985-01-01,NaN

In [55]:
## Merge Relationships dataset: output_relationships.csv file

df_relationships = load_datasets("output_relationships.csv", "df_relationships_merged.csv", ["from_genius_id", "to_genius_id"], ["from_genius_id", "to_genius_id"], True)
df_relationships

      from_genius_id  to_genius_id          type
0            7982829       1965303       samples
1            3956035        924270       samples
2            6345119       6922396       samples
3            7780518       8612417       samples
4            7371142       3317482  interpolates
...              ...           ...           ...
1877         1588114       2046341       samples
1878         1588114        101491  interpolates
1885          153223       6534466       samples
1886          153223      10020206       samples
1887        10005805       4605507       samples

[2732 rows x 3 columns]

In [59]:
## Merge Image Urls dataset: image_urls.csv file

df_images = load_datasets("image_urls.csv", "df_images_merged.csv", ["artistId"], ["artistId"], True)
df_images

      artistId                                           imageURL
0       667980  https://images.genius.com/073372f6cd316f7c68b4...
1      1453163  https://images.genius.com/90cba0cc7aa95c8df3a1...
2       380028  https://images.genius.com/00ee01fe972245108466...
3      1022585  https://images.genius.com/62504e9ca1033d3f0b9c...
4       608753  https://images.genius.com/1815addf7a643f61e824...
...        ...                                                ...
7260   1660333  https://assets.genius.com/images/default_avata...
7261    453418  https://images.genius.com/84796fb89fe7bbf345b0...
7262    987678  https://images.genius.com/59c85ada1f406f7407df...
7263   1409172  https://images.genius.com/ff4b8273cee3757b52dd...
7264   1409170  https://assets.genius.com/images/default_avata...

[13019 rows x 2 columns]